.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

ul {
  list-style: none;
  display: flex;
  margin: 10px;
}

body {
  display: flex;
  width: auto;
}

.left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  width: 50%;
  align-items: center;
  justify-content: center;
}
